body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

input {
  height: 22px;
}

.container {
  margin: 20px;
}

.minutes {
  width: 40px;
}

.mobber {
  display: flex;
  padding: 4px;
  align-items: center;
}

.mobber .image {
  margin-right: 5px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #EEEEEE;
  cursor: pointer;
}

.mobber .image:hover {
  border: 2px solid #f15b2a;
}

.mobber:nth-child(odd) {
  background-color: #dcdcdc;
}

.mobber .rmBtn {
  display: block;
  margin-left: auto;
}

.addLabel {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.btn {
  background-color: #f15b2a;
  border: 0;
  border-radius: 3px;
  padding: 7px 10px;
  color: #fff;
  margin-left: 5px;
  cursor: pointer;
}

h1 {
  font-size: 18px;
  border-bottom: 1px solid black;
  margin-top: 20px;
}

.fullscreen-seconds {
  width: 40px;
}
