body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-app-region: drag;
  user-select: none;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.current {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
}
.count {
  font-size: 18px;
  font-weight: bold;
}
.controls {
  display: flex;
  margin-bottom: 5px;
}
.btn {
  background: #f15b2a;
  border-radius: 3px;
  border: 0;
  color: #fff;
  padding: 3px 7px;
  margin: 0 2px;
  -webkit-app-region: no-drag;
  cursor: pointer;
  font-size: 12px;
}
.next {
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
}
.hidden {
  display: none;
}

@keyframes pulse {
  0% {
    background: #f15b2a;
  }
  50% {
    background: #ec008c;
  }
  100% {
    background: #f15b2a;
  }
}

.isTurnEnded {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: #fff;
}
.isTurnEnded .btn {
  background: #fff;
  color: #333;
}

.isPaused {
  color: #999;
  background: #333;
}

.isPaused .btn {
  color: #222;
  background: #666;
}
