@import url('../theme.css');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  user-select: none;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.current {
  font-size: 38px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
  margin-bottom: 15px;
}
.controls {
  display: flex;
  margin-bottom: 15px;
}
.btn {
  background: var(--button-background-color);
  border-radius: 3px;
  border: 0;
  color: var(--button-text-color);
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  font-size: 20px;
}
.next {
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
  text-align: center;
}
.pic {
  border-radius: 50%;
  border: 2px solid var(--mobber-border-color);
}
.current .pic {
  width: 150px;
  height: 150px;
  border-width: 5px;
}
.next .pic {
  width: 30px;
  height: 30px;
  vertical-align: bottom;
}
