@import url('../theme.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-app-region: drag;
  user-select: none;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

.container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-columns: min-content auto min-content;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "current current-name configure"
                       "current next         next";
  padding: 6px;
  box-sizing: border-box;
  grid-gap: 0 6px;
}

.button {
  cursor: pointer;
  -webkit-app-region: no-drag;
}

.pic {
  border-radius: 50%;
}

.timerContainer {
  position: relative;
  grid-area: current;
}

.currentPic {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 76px;
  height: 76px;
}

.timerCanvas {
  position: absolute;
  width: 80px;
  height: 80px;
}

.toggle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.overlay {
  opacity: 0;
}

.overlay:hover {
  opacity: .5;
}

.play {
  background-image: url(../img/play.png);
  background-size: 80px 80px;
}

.pause {
  background-image: url(../img/pause.png);
  background-size: 80px 80px;
}

.current {
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-self: center;
  grid-area: current-name;
}

.nextContainer {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: min-content auto;
  align-items: center;
  grid-gap: 5px;
  grid-area: next;
}

.next {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  border: 2px solid var(--mobber-border-color);
}

.overlay.next {
  background-image: url(../img/skip.png);
  background-size: 25px 25px;
  position: absolute;
}

.nextContainer span {
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.configure {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url(../img/configure.png);
  background-size: 20px 20px;
  border: 0;
  opacity: .5;
  transition: all 0.2s ease;
  grid-area: configure;
}

.configure:hover {
  opacity: .7;
  transform: rotate(-180deg);
}

@keyframes pulse {
  0% {
    background: var(--timer-pulse-color-1);
  }
  50% {
    background: var(--timer-pulse-color-2);
  }
  100% {
    background: var(--timer-pulse-color-1);
  }
}

.isTurnEnded {
  animation-duration: 1s;
  animation-name: pulse;
  animation-iteration-count: infinite;
  color: var(--timer-pulse-text-color);
}

.isPaused {
  color: var(--timer-paused-text-color);
  background: var(--timer-paused-background-color);
}

audio {
  display: none;
}
