:root {
  --theme-primary-color: #f15b2a;
  --theme-secondary-color: #ec008c;

  --main-text-color: #000;
  --main-background-color: #fff;
  --disabled-text-color: #999;
  --table-stripe-color: #dcdcdc;

  --button-text-color: #fff;
  --button-background-color: var(--theme-primary-color);

  --mobber-border-color: #eee;
  --mobber-border-highlight-color: var(--theme-primary-color);

  --timer-pulse-text-color: #fff;
  --timer-pulse-color-1: var(--theme-primary-color);
  --timer-pulse-color-2: var(--theme-secondary-color);

  --timer-paused-text-color: #999;
  --timer-paused-background-color: #333;
}
