:root {
  --theme-primary-color: #428bca;
  --theme-secondary-color: #7a00ec;

  --main-text-color: #330000;
  --main-background-color: #fdfdfd;
  --disabled-text-color: #999;
  --table-stripe-color: #dcdcdc;

  --button-text-color: #fdfdfd;
  --button-background-color: var(--theme-primary-color);

  --mobber-border-color: #D3D3D3;
  --mobber-border-highlight-color: var(--theme-primary-color);

  --timer-pulse-text-color: #fdfdfd;
  --timer-pulse-color-1: var(--theme-primary-color);
  --timer-pulse-color-2: var(--theme-secondary-color);
  
  --timer-paused-text-color: #999;
  --timer-paused-background-color: #333;
}
